div#imagedownloader {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, .8);
	z-index: 9999;
	overflow-y: scroll;
	button{
		z-index: 1;
		position: fixed;
		bottom: 2rem;
		display: inline-block;
		font-size: 1em;
		line-height: 2;
		text-decoration: none;
		letter-spacing: 0.05em;
		padding: 0.2em 1em;
		border-radius: 3px;
		cursor: pointer;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
		transition: .3s ease-out;
		&.ok {
			background-color: #26a69b;
			color: #fff;
			right: 8rem;
			.badge {
				background: #FF5722;
				border-radius: 50%;
				position: absolute;
				top: 0;
				right: 0;
				height: 1.5rem;
				width: 1.5rem;
				padding: 0;
				line-height: 1.5;
				display: inline-block;
				transform: translate(50%, -50%);
				visibility: hidden;
			}
		}
		&.cancel {
			background-color: #000;
			color: #fff;
			right: 2rem;
		}
		&:hover{
			box-shadow: 0 .5rem 2rem 0 rgba(255,255,255,0.14);
		}
		&.select {
			background-color: #000;
			color: #fff;
			right: 2rem;
			bottom: 5rem;
		}
	}
	div.downloader_images {
		z-index: -1;
		display: flex;
		flex-flow: row wrap;
		div.downloader_image_box {
			width: 200px;
			height: 200px;;
			overflow: hidden;
			padding: 0;
			margin: 10px;
			position: relative;
			text-align: center;
			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
				box-sizing: border-box;
			}
			&.selected img {
				border: 3px solid #26a69b;
				box-shadow: 0 0 10px 0 rgba(38,166,155,0.8);
			}
			span.view {
				position: absolute;
				bottom: 5px;
				right: 5px;
				cursor: pointer;
				&:hover {
					background-color: rgba(38,166,155,0.8);
				}
			}
		}
		div.downloader_video_box {
			width: 200px;
			height: 200px;;
			overflow: hidden;
			padding: 10px;
			margin: 0;
			position: relative;
			text-align: center;
			video {
				object-fit: cover;
				width: 100%;
				height: 100%;
				box-sizing: border-box;
			}
			&.selected img {
				border: 3px solid #26a69b;
				box-shadow: 0 0 10px 0 rgba(38,166,155,0.8);
			}
			span.view {
				position: absolute;
				bottom: 1rem;
				right: 1rem;
				cursor: pointer;
				&:hover {
					background-color: rgba(38,166,155,0.8);
				}
			}
		}
	}
	.image_viewer {
		z-index: 2;
		height: 0;
		background-color: rgba(80, 80, 80, 0.8);
		position: fixed;
		top: 0;
		height: 100vh;
		width: 100vw;
		img, video {
			display: inline-block;
			margin: 0 auto;
			position: absolute;
			max-height: 95%;
			max-width: 95%;
			top: 50vh;
			left: 50vw;
			transform: translate(-50%, -50%);
		}
		.button {
			position: fixed;
			top: 0;
			align-items: center;
			height: 100vh;
			line-height: 100vh;
			font-size: 3em;
			color: rgb(30, 30, 30);
			cursor: pointer;
			z-index: 99;
			&:nth-of-type(1) {
				left: 0;
			}
			&:last-of-type {
				right: 0;
			}
			&:hover {
				color: white;
			}
		}
		input {
			z-index: 999;
			position: fixed;
			bottom: 10px;
			right: 10px;
		}
		.closer {
			position: fixed;
			float: right;
			top: 5px;
			right: 5px;
			z-index: 9999;
		}
	}
	.get_more {
		height: 5rem;
		line-height: 5rem;
		color: #fff;
		text-align: center;
		cursor: pointer;
		&:hover {
			text-shadow: 0 0 8px rgba(255,255,255,0.8);
		}
	}
	.menu {
		position: absolute;
		background: white;
		border: 1px solid;
		border-radius: 5px;
		li {
			padding: 5px;
			color: black;
			&:hover {
				background: skyblue;
				color: white;
			}
		}
	}
}
