#imagedownloader {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, .8);
	z-index: 9999;
	overflow: scroll;
	.downloader_images {
		display: flex;
		flex-flow: row wrap;
		.downloader_image_box {
			width: 200px;
			height: 200px;;
			overflow: hidden;
			padding: 10px;
			img {
				object-fit: cover;
				height: 100%;
				width: 100%;
			input[type="checkbox"] {
				position: absolute;
				top: 1rem;
				left: 1rem;
			}
		}
	}
}
