#imagedownloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  overflow: scroll; }
  #imagedownloader .downloader_images {
    display: flex;
    flex-flow: row wrap; }
    #imagedownloader .downloader_images .downloader_image_box {
      width: 200px;
      height: 200px;
      overflow: hidden;
      padding: 10px; }
      #imagedownloader .downloader_images .downloader_image_box img {
        object-fit: cover;
        height: 100%;
        width: 100%; }
